<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace命名空间，为了对sql语句进行隔离，方便管理，mapper开发dao方式，使用namespace有特殊作用  
mapper代理开发时将namespace指定为mapper接口的全限定名  
 -->
<mapper namespace="com.chengxusheji.mapper.LabClassMapper"> 
<!--在mapper.xml文件中配置很多的sql语句，执行每个sql语句时，封装为MappedStatement对象 
mapper.xml以statement为单位管理sql语句  
 -->
	<!-- 添加实验室类别记录 -->
	<insert id="addLabClass" parameterType="labClass">
		insert into t_labClass(className) values 
		(#{className})
	</insert>

	<!-- 按照查询条件分页查询实验室类别记录 -->
	<select id="queryLabClass" resultMap="labClassMap" >
		select t_labClass.* from t_labClass ${where} limit #{startIndex},#{pageSize}
	</select>
	<resultMap id="labClassMap" type="labClass">
        <id property="classId" column="classId" />
    </resultMap>

    <!-- 按照查询条件查询所有实验室类别记录 -->
	<select id="queryLabClassList" resultMap="labClassMap" >
		select t_labClass.* from t_labClass ${where}
	</select>

    <!-- 按照查询条件的实验室类别记录数 -->
	<select id="queryLabClassCount" resultType="int">
		select count(*) from t_labClass ${where}
	</select>

	<!-- 根据主键查询某个实验室类别记录 -->
	<select id="getLabClass" parameterType="int" resultMap="labClassMap">
		select * from t_labClass where t_labClass.classId = #{classId}
	</select>

	<!-- 更新实验室类别记录 -->
	<update id="updateLabClass" parameterType="labClass">
		update t_labClass set className=#{className} where classId = #{classId}
	</update>

	<!-- 删除实验室类别记录 -->
	<delete id="deleteLabClass" parameterType="int">
		delete from t_labClass where classId=#{classId}
	</delete>

</mapper>
